<h1>Invoices controller, show action</h1>

<p>Edit this file in <tt>app/views/invoices/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_invoice,  @invoice) %> |
<%= link_to 'Back', url(:invoices) %>
